---
import { Image } from 'astro:assets';
import Bridge from '~/bridge.svg';
import Divider from '~/divider1.svg';
import Members from '~/group-members.png';
import Wave from '~/texture1.svg';
import Button from '../ui/button.astro';
---

<main class='min-h-[800px] gradient relative overflow-hidden flex items-center'>
  <div class='container'>
    <h1 class='text-white text-5xl lg:text-[64px] font-semibold'>
      Products built for Aggies,<br />by Aggies.
    </h1>
    <Image
      class={'absolute bottom-0 mx-auto inset-x-0 scale-110 2xl:scale-100 origin-bottom'}
      src={Bridge}
      alt={'bg'}
    />
  </div>
</main>
<div class='relative max-md:py-20 md:min-h-screen'>
  <div class='container flex flex-col pt-32 justify-center'>
    <h4 class='max-w-[538px] font-medium'>
      AggieWorks is a product development organization building software for
      students at UC Davis. We are a tight-knit community of engineers,
      designers, product managers, and marketers that works to improve student
      life with innovative technology.
    </h4>
    <Button class='w-fit mt-8'>Learn More</Button>
    <Image src={Members} alt={'members'} class={'self-end mt-5'} />
  </div>
  <Image
    src={Divider}
    alt={''}
    class={'w-full lg:-translate-y-[70px] max-lg:hidden'}
  />
  <Image
    src={Wave}
    alt={''}
    class={'absolute max-lg:hidden -z-10 inset-0 w-full'}
  />
</div>
<style is:global>
  .gradient {
    background: linear-gradient(
      90deg,
      rgba(83, 180, 112, 1),
      rgba(71, 131, 239, 1),
      rgba(117, 99, 206, 1),
      rgba(196, 66, 126, 1)
    );
  }
</style>
