---
import { Image } from 'astro:assets';
import Bridge from '~/img/bridge.svg';
---

<main class='min-h-[800px] overflow-hidden flex items-center'>
  <div class='container'>
    <h1 class='text-white text-[64px] font-semibold'>
      Products built for Aggies,<br />by Aggies.
    </h1>
    <Image
      class={'absolute bottom-0 inset-x-0 scale-125 origin-bottom'}
      src={Bridge}
      alt={'bg'}
    />
  </div>
</main>

<style>
  main {
    background: linear-gradient(
      90deg,
      rgba(83, 180, 112, 1),
      rgba(71, 131, 239, 1),
      rgba(117, 99, 206, 1),
      rgba(196, 66, 126, 1)
    );
  }
</style>
