---
import { cn } from '@/lib/utils';
import { Image } from 'astro:assets';
import Wave from '~/wave.svg';
type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<div class={cn('relative max-md:pt-12  gradient', className)}>
  <div
    class='container flex gap-6 min-h-[340px] max-md:pb-12 items-center justify-between flex-wrap'
  >
    {
      Array.from(Array(3)).map((el) => (
        <div class='max-w-[320px] text-center text-white font-medium  leading-tight'>
          “AggieWorks is great! [Insert a sentence about interviewee’s great
          experience with AggieWorks. Or several sentences. There are a lot of
          great things about AggieWorks.]”
          <>
            <br />
            <br />
          </>
          Interesting Coolperson
        </div>
      ))
    }
  </div>
  <Image src={Wave} alt={'wave'} class={'w-full'} />
</div>
