---
import Board from '@/components/team/board.astro';
import Layout from '@/layouts/Layout.astro';
import { Image } from 'astro:assets';
import TeamWave from '~/team-wave.svg';
import Wave from '~/wave.svg';
---

<Layout title='Team'>
  <div class='bg-foreground h-20'></div>
  <Image src={TeamWave} alt={''} class={'absolute right-0 max-md:hidden'} />
  <Image
    src={Wave}
    alt={''}
    class={'scale-x-[-1] -translate-y-1 scale-y-[-1] w-full'}
  /><div class='md:py-32 py-8 container'>
    <h2 class='text-5xl font-semibold'>Meet Our Team</h2>
    <br />
    <div class='max-w-[570px] leading-tight'>
      We owe our products to the relentless dedication of our members and
      directors, who are the foundation of AggieWorks. We are proud to recruit
      the brightest minds and talented builders at UC Davis who bring the utmost
      passion and drive to the AggieWorks family.
    </div>
  </div>
  <Board />
</Layout>
