---
import { cn } from '@/lib/utils';
import { Image } from 'astro:assets';
import Wave from '~/wave.svg';
import Button from './ui/button.astro';
type Props = {
  class?: string;
};

const { class: className } = Astro.props;
const data = [
  {
    label: 'General',
    links: [
      { label: 'HOME', href: '' },
      { label: 'ABOUT', href: '' },
      { label: 'PRODUCTS', href: '' },
      { label: 'JOIN US', href: '' },
    ],
  },
  {
    label: 'Contact Us',
    links: [{ label: 'hello@aggieworks.org ', href: '' }],
  },
];
---

<div class={cn('bg-foreground relative z-10 -mt-1', className)}>
  <footer class='container pb-4 pt-20 max-md:pb-20'>
    <h4 class='text-stone-100 text-2xl font-semibold mb-3'>Stay in touch?</h4>
    <h6 class='text-background'>
      Keep up with recruitment and product launches!
    </h6>
    <br />
    <div class='flex gap-6 max-sm:flex-col'>
      <input
        class='max-w-[271px] w-full h-[45px] px-4 bg-white rounded-[10px]'
        placeholder='Enter email here'
      />
      <Button class='invert'>Subscribe</Button>
    </div>
  </footer>
  <Image src={Wave} alt={'wave'} class={'w-full scale-x-[-1] scale-y-[-1]'} />
  <div class='footer'>
    <div
      class='container max-md:flex-col max-md:-mt-4 -mt-20 pt-32 flex max-md:gap-7 gap-20'
    >
      {
        data.map((el) => (
          <div>
            <p class='text-xl font-semibold'>{el.label}</p>
            <br />
            <div class='space-y-2'>
              {el.links.map((link) => (
                <a
                  href={link.href}
                  class='font-medium block font-mono tracking-wider'
                >
                  {link.label}
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>
    <footer class='md:text-center container font-medium py-8'>
      Made with {'<3'} by AggieWorks
    </footer>
  </div>
  <style>
    .footer {
      background: linear-gradient(90deg, #ffe5f1, #d7e5ff, #bcf3cc);
    }
  </style>
</div>
