---
import { cn } from '@/lib/utils';
import { Image } from 'astro:assets';
import Logo from '~/logo.svg';
import { MobileNav, navItems } from './mobile-nav';
const pathname = Astro.url.pathname;
---

<section class='absolute top-0 z-40 inset-x-0 h-32'>
  <nav
    class='absolute h-20 md:h-32 container inset-x-0 flex justify-between items-center'
  >
    <a href='/' class='max-sm:scale-75 scale-90 origin-left'>
      <Image src={Logo} alt={'logo'} />
    </a>
    <ul class='flex items-center gap-8 max-md:hidden'>
      {
        navItems.map((el) => (
          <a
            href={el.link}
            class={cn(
              'hover:text-primary transition-all text-background font-semibold',
              { 'text-primary': pathname.includes(el.link) }
            )}
          >
            {el.label}
          </a>
        ))
      }
    </ul>
    <MobileNav client:load path={pathname} />
  </nav>
</section>
