---
import { cn } from '@/lib/utils';
type Props = {
  class?: string;
};
const { class: className } = Astro.props;
---

<h1
  class={cn('text-center  md:text-[40px] text-3xl  font-semibold', className)}
>
  <slot />
</h1>
